@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/*
    Original Author: Benjamin Krajancic
    Original Source Available at: https://github.com/BKrajancic/Code-Red-A-Firefox-Theme/
*/

* {
    --color-theme: var(--lwt-selected-tab-background-color);
    --color-theme-text: var(--lwt-tab-text);
}

.urlbar-input-box {
    min-width: 8ch !important;
}

hbox.titlebar-spacer:nth-child(1) {
    width: 12px !important;
}

#urlbar-input-container {
    overflow: hidden !important;
}

#back-button[disabled="true"],
#forward-button[disabled="true"] {
    opacity: 0.25 !important;
    fill-opacity: 1 !Important;
}

#forward-button>.toolbarbutton-icon,
#back-button>.toolbarbutton-icon {
    /* Make both of them equal size */
    --size: 30px;
    border-radius: var(--size) !important;
    width: var(--size) !important;
    height: var(--size) !important;
    border: 0px !important;
    padding: 7.5px !important;
}

#back-button:not([disabled])>.toolbarbutton-icon,
#forward-button:not([disabled])>.toolbarbutton-icon {
    background-color: var(--lwt-selected-tab-background-color) !important;
    fill: var(--lwt-tab-text);
}

#forward-button[disabled="true"]>.toolbarbutton-icon,
#back-button[disabled="true"]>.toolbarbutton-icon {
    background-color: var(--lwt-toolbarbutton-icon-fill, currentColor) !important;
    fill: var(--lwt-tab-text);
}
